body{
    background-image: linear-gradient(to left, rgb(248, 202, 255), rgba(219, 108, 236, 0.918));
    
}

h1{
    margin: 0px;
    font-size: 160px;
    text-align: left;
    margin-right: 55px;
    line-height: 0.9;
}

h3{
    margin: 0;
    margin-top: 25px;
    margin-left: 4px;
    font-size: 45px;
    text-align: left;
}    

button{
    border: 0;
    padding: 0;
    background-color:rgba(0,  0,  0,  0);
    cursor: pointer;
}

.textoEstilo{
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: rgb(255, 255, 114);
    text-shadow: 1px 1px 2px rgb(128, 98, 0);
}

.estiloBotao{
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 55px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    margin-top: 30px;
    margin-left: 0px;
    border-radius: 16px;
    border-style: none;
    font-size: 35px;
    padding: 0px 30px;
    color: aliceblue;
    background-color: rgb(194, 53, 142);
}

.flex{
    display: flex;
    justify-content: center; 
    margin-top: 100px;
    margin-right: 100px;
}

.apresentacao{
    height: auto;
    width: 120px; 
}

#teste{
    position: relative;
    width: 135px;
    height: 135px;
}

#teste:hover{
    box-shadow: 0 10px 20px #1b1b1b;
    z-index: 10;
    transform: scale(1.8);
    transition: all 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}


.position02{
    display: grid;
    grid-column-start: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 120px);
    grid-gap: 25px 10px;
    margin-top: 0px;
    margin-left: 145px;
}

.position{
    margin-left: 100px;
    margin-top: 0px;
}


/* MODAL*/

#botao:hover{
    top:-2px;
    box-shadow: 0px 4px 4px #ff00c8;
    transform: scale(1.1);
    transition: all 0.1s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #ffd0ea;
  margin: 5% auto; 
  padding: 0px;
  border: 0px;
  border-radius: 25px;
  width: 640px;
  height: 750px;
}

.close-btn{
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 15px;
}

.imagemModal{
    width: 400px;
    height: auto;
    margin-top: 10%;
    margin-left: 19%;
}
.info{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-shadow: 3px 3px 4px rgb(167, 167, 167);
    font-size: 22px;
    margin-left: 10%;
    height: 10px;
}