body{
    background-image: linear-gradient(to left, rgb(248, 202, 255), rgba(219, 108, 236, 0.918));
    
}

h1{
    margin: 0px;
    font-size: 160px;
}

h3{
    margin: 0;
    font-size: 40px;
    text-align: right;
    

}

button{
    border: 0;
    padding: 0;
    background-color:rgba(0,  0,  0,  0);
    cursor: pointer;
}

.textoEstilo{
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: rgb(255, 255, 114);
    text-shadow: 1px 1px 2px rgb(128, 98, 0);
}


.estiloBotao{
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    margin-top: 60px;
    margin-left: 4px;
    border-radius: 16px;
    border-style: none;
    font-size: 20px;
    padding: 9px 30px;
    color: aliceblue;
    background-color: rgb(194, 53, 142);
}

.apresentacao{
    height: auto;
    width: 120px;
}

.position02{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 120px);
    grid-gap: 5px;
    margin-top: 40px;
}

#album{
    position: relative;

}

#album:hover{
    box-shadow: 0 10px 20px #1b1b1b;
    z-index: 10;
    transform: scale(1.8);
    transition: all 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.position{
    margin-left: 70px;
    
}

.flex{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 100px;
    
}

#imagemBotao{
    cursor: pointer;

}

#botao:hover{
    top:-2px;
    box-shadow: 0px 4px 4px #ff00c8;
    transform: scale(1.1);
    transition: all 0.1s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}


::-webkit-input-placeholder {
   color: aliceblue;
   
}



